:root {
    --background-color: #fdf4e8;
    --primary-color: #f4ca8c;
    --secondary-color: #e2ae61;
    --tertiary-color: #2c4d38;
    --black-color: #000;
}

/*TAGS PRONTAS*/

hr {
    background-color:#c5c5c5; 
}

/*TAGS PRONTAS*/

/*CLASSES PRONTAS*/

.color-primary {
    color: var(--primary-color);
}

.color-secondary {
    color: var(--secondary-color);
}

.color-tertiary {
    color: var(--tertiary-color);
}

.color-white {
    color: #fff;
}

.background-primary-color {
    background-color: var(--primary-color);
}

.background-secondary-color {
    background-color: var(--secondary-color);
}

.background-tertiary-color {
    background-color: var(--tertiary-color);
}

.inputAlt {
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: #c5c5c5;
}

.maxWidth {
    width: 100%;
}

.noDecorations {
    text-decoration: none;
}

.text-center {
    text-align: center;
}

.border-none {
    border: none;
}

.border-radius-button {
    border-radius: 10px;
}

.submit-padding-top-bottom {
    padding-top: 15px;
    padding-bottom: 15px;
}

.submit-padding-exit {
    padding: 5px 15px;
}

.formBase {
    background-color: #fff;
    padding: 30px;

    display: flex;
    flex-direction: column;

    justify-content: center;
}

.link-color-primary:hover {
    color: var(--primary-color);
}

.link-color-white:hover {
    color: #fff;
}

.bi-margin-exit {
    margin-left: 5px;
}

input:focus {
    outline:none;
    
}


/*Utilizei para tirar o fundo azul automatico do input*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #fff inset !important;
}



/*CLASSES PRONTAS*/


body {
    background-color:var(--background-color);
    font-family: 'Marcellus SC', serif;
}



