:root {
    --background-color: #fdf4e8;
    --primary-color: #f4ca8c;
    --secondary-color: #e2ae61;
    --tertiary-color: #2c4d38;
    --black-color: #000;
}

#formCadastrar {
    margin-top: 1em;
    margin-bottom: 1em;
}

@media screen and (min-width: 768px) {
    #formCadastrar {
        width: 80%;
    }

    #containerCadastrar {
        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width:992px) {
    #formCadastrar {
        width: 60%;
    }
}



