:root {
    --background-color: #fdf4e8;
    --primary-color: #f4ca8c;
    --secondary-color: #e2ae61;
    --tertiary-color: #2c4d38;
    --black-color: #000;
}

#htmlTest {
    height: 75vh;
}

@media screen and (min-width: 768px) {
    #htmlTest {
        height: 80vh;
    }
}

#bemVindTop {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 5px 5px 5px 5px;

    margin-top: -5px;

    font-size: 0.8em;
}

.topBar .container {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
}

